<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    background-color: rgb(50, 167, 145);
=======
.header {
    display: flex;
}
.trybewarts-login {
    display: flex;
>>>>>>> 425876c (Requisito 3)
}